/* Import Tamzen */

@font-face {
	font-family: 'Tamzen';
	src: url('https://leptio.github.io/discord_fonts/Tamzen8x16r.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Tamzen';
	src: url('https://leptio.github.io/discord_fonts/Tamzen8x16r.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Tamzen';
	src: url('https://leptio.github.io/discord_fonts/Tamzen8x16b.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
} 

@font-face {
	font-family: 'Tamzen';
	src: url('https://leptio.github.io/discord_fonts/Tamzen8x16.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

/* ----------------------------------------------------------------------- */

/* Backwards Compatibility */

:root {
	--line-spacing: var(--message-line-spacing);
}

/* Apply styles */

::-webkit-input-placeholder, body, button, input, select, channel_name, text-sm-normal, text-sm, userText, userTag, textarea, span {
    font-family: 'Tamzen', sans-serif !important;
    word-spacing: var(--word-spacing, initial);
    letter-spacing: var(--letter-spacing, initial);
}

/* Adjust formatted text line-height */

[class*="messageContent-" i] {
    line-height: var(--message-line-spacing, initial) !important;
}


.chatContent-3KubbW .rolecolor-mention, .chatContent-3KubbW .mentioned-Tre-dv .rolecolor-mention {
    font-family: 'Tamzen', sans-serif !important;
    word-spacing: var(--word-spacing, initial);
    letter-spacing: var(--letter-spacing, initial);
}

.rolecolor-mention:hover, .mentioned-Tre-dv .rolecolor-mention:hover {
    font-family: 'Tamzen', sans-serif !important;
    word-spacing: var(--word-spacing, initial);
    letter-spacing: var(--letter-spacing, initial);
}

.headerNormal-3Zn_yu .rolecolor-colored-userpopout, .rolecolor-colored {
    font-family: 'Tamzen', sans-serif !important;
    word-spacing: var(--word-spacing, initial);
    letter-spacing: var(--letter-spacing, initial);
}

.headerNormal-3Zn_yu .rolecolor-colored-userpopout > span:not(.botTag-2mryIa),
.rolecolor-colored > * {
    font-family: 'Tamzen', sans-serif !important;
    word-spacing: var(--word-spacing, initial);
    letter-spacing: var(--letter-spacing, initial);
}

.headerNormal-3Zn_yu .rolecolor-colored-userpopout span:not([class]) {
    font-family: 'Tamzen', sans-serif !important;
    word-spacing: var(--word-spacing, initial);
    letter-spacing: var(--letter-spacing, initial);
}

.rolecolor-mention, .rolecolor-colored, .rolecolor-colored .activity-2EQDZv {
    font-family: 'Tamzen', sans-serif !important;
    word-spacing: var(--word-spacing, initial);
    letter-spacing: var(--letter-spacing, initial);
}

[data-text-variant] {
    font-family: 'Tamzen', sans-serif !important;
    word-spacing: var(--word-spacing, initial);
    letter-spacing: var(--letter-spacing, initial);
}

div[class*="lineClamp1__"][data-text-variant="text-sm/medium"] {
    font-family: 'Tamzen', sans-serif !important;
    word-spacing: var(--word-spacing, initial);
    letter-spacing: var(--letter-spacing, initial);
}

/* Scale up timestamps & "Edited" text */

[class*="group-spacing" i] [class*="timestamp"],
[class*="messageContent-" i] time {
    font-size: .9rem;
}
