/* Import Tamzen */

@font-face {
    font-family: 'Tamzen8x15r';
    src: url('https://github.com/leptio/discord_fonts/blob/main/Tamzen8x15r.woff?raw=true');
    font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: 'Tamzen8x15r';
	src: url('https://github.com/leptio/discord_fonts/blob/main/Tamzen8x15r.woff?raw=true');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Tamzen8x15b';
	src: url('https://github.com/leptio/discord_fonts/blob/main/Tamzen8x15b.woff?raw=true');
	font-weight: bold;
	font-style: normal;
} 

@font-face {
	font-family: 'Tamzen8x15b';
	src: url('https://github.com/leptio/discord_fonts/blob/main/Tamzen8x15b.woff?raw=true');
	font-weight: bold;
	font-style: italic;
}

/* ----------------------------------------------------------------------- */

/* Backwards Compatibility */

:root {
	--line-spacing: var(--message-line-spacing);
}

/* Apply styles */

::-webkit-input-placeholder, body, button, input, select, textarea {
    font-family: 'Tamzen8x15r', sans-serif !important;
    word-spacing: var(--word-spacing, initial);
    letter-spacing: var(--letter-spacing, initial);
}

/* Adjust formatted text line-height */

[class*="messageContent-" i] {
    line-height: var(--message-line-spacing, initial) !important;
}

/* Scale up timestamps & "Edited" text */

[class*="group-spacing" i] [class*="timestamp"],
[class*="messageContent-" i] time {
    font-size: .9rem;
}
